<!DOCTYPE html>
    <html lang="en">
    <head>

        <title>
            Title
        </title>
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
        <meta charset="UTF-8">
    </head>
    <body>

        Welcome to Cura in the Air.

        <a href="/root/app/ZengerCuraEngine-in-the-Air/resources/sample_download.txt" download="sample_download.txt">
            Download
        </a>
        <br>
        <a href="/root/app/ZengerCuraEngine-in-the-Air/resources/Zenger.jpg" download="Zenger.jpg">
            Download this image!
        </a>
        <br>
        <a href="{{ url_for('get_gcode')}}" download="test.gcode">
            GENERATE GCODE
        </a>

        <form action="" method="post">
            <p>
                <form method="post" class = "inputs">
                  <div class="FormText">
                      <label for="save_path">Specify path for finished gcode:</label>
                      <input type="text" name="name" class = "text_box1">
                  </div>
                  <div class="stylebutton">
                      <input type="submit" class = "submit_button">
                  </div>
                </form>

            </p>
        </form>

    </body>
</html>