<!DOCTYPE html>
    <html lang="en">
    <head>

        <title>
            Title
        </title>
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
        <meta charset="UTF-8">
    </head>
    <body>

        Welcome to Cura in the Air.

        <a href="/app/ZengerCuraEngine-in-the-Air/resources/sample_download.txt" download="sample_download.txt">
            Download
        </a>
        <br>
        <a href="/app/ZengerCuraEngine-in-the-Air/resources/Zenger.jpg" download="Zenger.jpg">
            Download this image!
        </a>
        <br>
        <a href="{{ url_for('get_gcode')}}" download="test.gcode">
            GENERATE GCODE
        </a>

        Some STL paths you can try: <br>
        /root/app/Test-STLs/ <br>
        ^ You start with this prefix each time ("/root" may or may not be needed, so try on and off if it doesn't work) <br>
        5mm_Cube.stl <br>
        Tower_2.stl <br>
        Castle_bot_4.stl <br>
        forbiddentower_whole_02.stl <br>
        ^ Four different test STLs; top is easiest and bottom is hardest (like really hard in comparison). 
        On my laptop, the 5mm cube slices in an instant whereas the forbidden tower takes 90 seconds. 
        Keep in mind though that this is using preconfigured settings, which have pretty small layer heights, so the slicing is slightly faster than you think
        
        <form action="" method="post">
            <p>
                <form method="post" class = "inputs">
                  <div class="FormText">
                      <label for="STL_path">Specify STL path:</label>
                      <input type="text" name="STL_path" class = "text_box1">
                  </div>
                  <div class="stylebutton">
                      <input type="submit" class = "submit_button">
                  </div>
                </form>

            </p>
        </form>

    </body>
</html>